<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <tr>
      <td><b>Due Date</b></td>
      <td><b>Description</b></td>
      <td><b>Keywords</b></td>
      <td><b>Priority</b></td>
      <td><b>Action</b></td>
    </tr>

    <% @notes.each do |note| %>
      <tr>
        <td><%= note.due_date.present? ? "in #{time_ago_in_words(note.due_date)}" : "-" %></td>
        <td><%= link_to note.description.truncate(75), note_path(note.id) %></td>
        <td><%= note.keywords %></td>
        <td><%= note.priority %></td>
        <td>
          <%= link_to 'Bump', bump_note_path(note), method: :post %>
          <%= link_to 'Edit', edit_note_path(note) %>
          <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
