<p id="notice"><%= notice %></p>

<h1>Reminders</h1>

<table>
  <tbody>
    <tr>
      <td><b>Due Date</b></td>
      <td colspan=5><b>Description</b></td>
      <td><b>Action</b></td>
    </tr>

    <% @reminders.each do |reminder| %>
      <tr>
        <td><%= reminder.due_date %></td>
        <td colspan=5><%= reminder.description %></td>
        <td>
          <%= link_to 'Edit', edit_reminder_path(reminder) %>
          <%= link_to 'Destroy', reminder, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
