<p id="notice"><%= notice %></p>

<h1>Features</h1>

<table>
  <tbody>
    <tr>
      <td><b>Priority</b></td>
      <td colspan=4><b>Description</b></td>
      <td><b>Squad</b></td>
      <td><b>Action</b></td>
    </tr>

    <% @features.each do |feature| %>
      <tr>
        <td><%= feature.priority %></td>
        <td colspan=4><%= render_links_in(feature.description).html_safe %></td>
        <td><%= feature.squad %></td>
        <td>
          <%= link_to 'Edit', edit_feature_path(feature) %>
          <%= link_to 'Destroy', feature, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

