<!DOCTYPE html>
<html>
  <head>
    <title>DoughNotes</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">

      <span class="logo">
        <%= link_to "DðŸ©ughNðŸ©tes", notes_path %>
      </span>

      <span class="nav">
        <%= link_to "Add New", new_note_path %>
      </span>

    </div>

    <%= yield %>
  </body>
</html>
